		body{
            background-color: rgba(100,100,100,1);
            background-size: cover;
            background-position: center center;
            font-family: 'titillium web','calibri';
        }