<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="usr_tmplt.css">
</head>
    <body style="background-color:darkred;"><DIV style="width: 50%; text-align: center; color: white; font-family: 'CALIBRI'; border: 2px solid white; font-size: 180px; margin: auto; MARGIN-TOP:5PX;MARGIN-BOTTOM:5PX;">
        <img src="pdf.png" style="width:10%">
        <div>KEEP
        <br>CALM</div>
        <DIV style="width: 50%; text-align: center; color: white; font-family: 'CALIBRI';font-size: 100px; margin: auto; MARGIN-TOP:5PX; MARGIN-BOTTOM:5PX;">
        <div>and</div>
        </DIV>
        <div>DIE</div>
        </DIV>
    </body>
</html>