---
title: Home
layout: default
---
<div class = "post_feed_box">
{% assign posts_amount = site.posts | size %}
<div class="post_grid">
{% for post in site.posts %}
    {%if post.category == "render"%}
    {%comment%}
    {%raw%}
    <!div class="post_grid_item" style="background-color: #{{ post.domcol | remove: "^" }};">
    {%endraw%}
    {%endcomment%}
    <div class="post_grid_item">
        <a href="{{ post.url }}">

            <img src="{{ post.thumb }}" loading="lazy" class="thumbnail">

            <div class ="title">
                {{post.title | truncate: 40, "..." | downcase }}
            </div>

            <div class ="desc">
                <div class = "date">
                    {{post.date | date_to_string | downcase }}
                </div>
                
                <div class = "song_desc_wrap">
                    <div class = "song_desc">
                        {{ post.songname }} | {{ post.songautr }}
                    </div>
                    {% if post.spotisong %} 
                    <div class="spoti_small_icon">
                        <img src = "/spotify_small.png" >
                    </div>
                    {% endif %} 
                </div>
            </div>
            
            
            
        </a>
    </div>
    {%endif%}
{% endfor %}
</div>
</div>