---
title: Home
layout: post_grid
---
<div class = "post_feed_box">
{% assign posts_amount = site.posts | size %}
<div class="post_grid">
{% for post in site.posts %}
    {%if post.category == "render"%}
    {%comment%}
    {%raw%}
    <!div class="post_grid_item" style="background-color: #{{ post.domcol | remove: "^" }};">
    {%endraw%}
    {%endcomment%}
    <div class="post_grid_item" id = "post_{{ post.postid }}" title = "{{ post.title }}">
        <a href="{{ post.url }}?fh=1">

            <img src="{{ post.thumb }}" class="thumbnail">

            <div class ="title">
              {% if post.titleoverride %}
                {{ post.titleoverride }}
              {% else %}
                {{ post.title }}
              {% endif %}
            </div>

            <div class ="desc">
                <div class = "date">
                    {{post.date | date_to_string | downcase }}
                </div>

                <div class = "song_desc_wrap">
                    <div class = "song_desc">
                        {{ post.songname }} | {{ post.songautr }}
                    </div>
                    {% if post.spotisong %} 
                    <div class="spoti_small_icon">
                        <img src = "/spotify_small.png" >
                    </div>
                    {% endif %} 
                </div>
            </div>
            
            
            
        </a>
    </div>
    {%endif%}
{% endfor %}

<script>
            function getQueryVariable(variable) {
                var query = window.location.search.substring(1);
                var vars = query.split("&");
                for (var i = 0; i < vars.length; i++) {
                    var pair = vars[i].split("=");
                    if (pair[0] == variable) {
                        return pair[1];
                    }
                }
                return (false);
            }

            if (getQueryVariable("focus") != "false") {
                var pid = getQueryVariable("focus");
                var url = window.location.protocol + "//" + window.location.host + window.location.pathname;
                var newurl = url.split("?")[0];
                window.history.replaceState({path:newurl},'',newurl);
                document.getElementById("post_"+pid).scrollIntoView({ behavior: "auto", block: "center", inline:"center"});
                document.getElementById("post_"+pid).style = "animation: 2s ease-out 0s 1 post_focus";
                document.getElementById("post_"+pid).classList.add("post_grid_item--focused");

                // Also retarget the logo link to the focused post and indicate alternate state
                try {
                    var postEl = document.getElementById("post_" + pid);
                    if (postEl) {
                        var postAnchor = postEl.querySelector('a');
                        var logoAnchor = document.querySelector('a.logo');
                        if (postAnchor && logoAnchor) {
                            var postHref = (postAnchor.getAttribute('href') || '').split('?')[0];
                            if (postHref && postHref !== '/') {
                                logoAnchor.setAttribute('href', postHref);
                                logoAnchor.classList.add('logo--backlink'); // make alt overlay visible
                                // Remove default HTML title tooltip; we'll use a custom tooltip instead
                                logoAnchor.removeAttribute('title');

                                // No tooltip; keep behavior minimal
                            }
                        }
                    }
                } catch (e) {
                    // no-op: if anything fails here, keep default logo behavior
                }
            }
        </script>
</div>
</div>