---
---
@import "main";

.post_feed_box {
    height: 100%;
    margin:0px; 
}

.post_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    //justify-items: ;
    text-decoration: none;
    margin:0px;
}

@keyframes post_focus {
    0% {
        -moz-box-shadow: 0px 0px 30px -2px #ffda83;
        -webkit-box-shadow: 0px 0px 30px -2px #ffda83;
        box-shadow: 0px 0px 30px -2px #ffda83;
        background-color: #292929;
    }
    90% {
        background-color: #292929;
    }
    100% {
        background-color: #222222;

        -moz-box-shadow: 0px 0px 5px -2px black;
        -webkit-box-shadow: 0px 0px 5px -2px black;
        box-shadow: 0px 0px 5px -2px black;
    }
}

.post_grid_item {
    flex: 0 1 calc(20% - 10px);
    /*margin-bottom: 25px;
    /*margin-right: 1px;*/
    margin:5px;
    background-color: #222222;
    border-radius: 10px;
    -moz-box-shadow: 0px 0px 5px -2px black;
    -webkit-box-shadow: 0px 0px 5px -2px black;
    box-shadow: 0px 0px 5px -2px black;
    transition: all 1s ;
    min-width: 0
}

.post_grid_item:hover {
    background-color:#292929;
    transition: all .1s ;
    box-shadow: 5px 5px 10px -2px black;
}

.post_grid_item .title {
    /*font-family: monospace;*/
    font-size: 20pt;
    text-align: right;
    color: darkgray;
    text-decoration: none;
    margin-right: 1px;
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.post_grid_item .desc {
    /*font-family: monospace;*/
    font-size: 14pt;
    color: dimgray;
    text-align: right;
    text-decoration: none;
    margin-right: 1px;
    overflow: hidden;
    white-space: nowrap;
    //display:block;
}

.post_grid_item .song_desc{
    display: inline-block;
    position: relative;
    text-overflow: ellipsis;
    text-align: right;
    overflow: hidden;
    text-wrap: nowrap;
    flex: 1 1 auto;
}

.post_grid_item .song_desc_wrap{
    display: flex;
    align-items: center;
    max-width: inherit;
    margin-top: 4px;
    padding-top: 4px;
    border-top: 1px solid #1f1f1f;
}

.post_grid_item .spoti_small_icon{
    margin-left: px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post_grid_item .spoti_small_icon img{
    /*font-family: monospace;*/
    width: 28px;
    height: 28px;
}


.post_grid_item .thumbnail {
    width: inherit;
    border-radius: 5px;
    height: auto;
    aspect-ratio: 1 / 1;
}

.post_grid_item a {
    padding: 10px;
    text-decoration: none;
    display: block;
    height:100%;
    width: 100%;
}

@media screen and (max-width: 1550px)  and (min-height: 640px) {
    .post_grid_item {
        flex: 0 1 calc(33% - 10px);
    }
}

@media screen and (max-width: 1100px) and (min-height: 960px) {
    .post_grid_item {
        flex: 0 1 calc(50% - 10px);
    }
}

@media screen and (max-width: 512px) {
    .post_grid_item {
        flex: 0 1 calc(100%);
    }
}

@media (any-pointer: fine) {
    .post_grid_item .title {
        /*font-family: monospace;*/
        font-size: 12pt;
    }
    .post_grid_item .desc {
        /*font-family: monospace;*/
        font-size: 8.5pt;
    }
    .post_grid_item .spoti_small_icon{
        margin-left: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .post_grid_item .spoti_small_icon img{
        /*font-family: monospace;*/
        width: 14px;
        height: 14px;
    }
}