---
---
@import "main";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
    background-color: #111111;
    color:#AAAAAA;
    font-family: "IBM Plex Mono";
    margin:0px;
}


.render_post{
    //width: calc(80vw);
    margin: auto;
    flex: auto;
    background: #222222;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: stretch;
    flex-direction: row;
    //max-height: calc(100vh);
    //min-height: calc( 100vh - 384px );
    width:fit-content;
    overflow: hidden;
}

.render_post .image_main {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    width: auto;
    height: auto;
    margin:0;
    min-width: 512px;
}


.render_post .spotisong_iframe{
    // float: right;
    // box-shadow: 2px 2px 5px 0px black;
    width:100%;
    overflow: hidden;
}


.render_post .title {
    width: 100%;
    text-align: right;
    font-size: 36pt;
}

.render_post .date {
    width: 100%;
    text-align: right;
    font-size: 24pt;
    color:#888888;
}

.render_post .info_box{
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    flex: 10000 1 calc(365px);
    width: 400px;
}

.render_post .info_box_main{
    margin: 0px 0px 0px 0px;
    flex: 1 0 45%;
    padding: 20px 20px 20px 20px;
    //border-bottom: 1px solid #222222;
    
}

.render_post .info_box_song{
    flex: 1 0 100%;
    padding:20px;
    width:fit-content;
    overflow: hidden;
    //border-bottom: 1px solid #222222;
    border-top: 1px solid #1a1a1a;
    text-align: right;
}

.render_post .image_box{
    
    background-color: rgba(0,0,0,1);
    display: flex;
    flex: 1 1 auto;


    //max-width: calc(100vh - 128px);
    //min-height: calc(100vh - 75px);
    max-height: calc(100vh - 138px);
    height: fit-content;
//    overflow: hidden;

    background-size: contain;
    background-repeat:   no-repeat;
    background-position: center center; 
    position: relative;
    //aspect-ratio: auto 1 / 2;
    //min-width: 60%;
}


.render_post .image_box .image_box_inner{
    width: 100%;
    height: 100%;
    //backdrop-filter: blur(50px);

    justify-content: center;
    display: flex;
    overflow: hidden;
}


.render_post .song_button{
    vertical-align: middle;
}
.render_post .song_button .song_info{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    width:calc( 100% - 64px );
    font-size: 36px;
}

.render_post .song_button img{
    height: 48px;
    vertical-align:middle;
}



.render_post .navigation_box {
    display: flex;
    flex-direction: row-reverse;
    vertical-align: middle;
    flex: 1 0 500px;
    position: absolute;
    height: 100%;
    width: 100%;
    margin:auto;
}

.render_post .navigation_button_right {
    flex: 1 0 auto;
    margin:0 0 0 20%;
    padding:10px 10px 15px 10px;
    opacity: 0%;
    //background: linear-gradient(270deg, rgba(0,0,0,0.5) 0%, rgba(34,34,34,0) 100%);
    transition: all 0.2s;
}

.render_post .navigation_button_left {
    flex: 1 0 auto;
    margin:0 20% 0 0;
    padding:10px 10px 15px 10px;
    opacity: 0%;
    //background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(34,34,34,0) 100%);
    transition: all 0.2s;
}

.render_post .navigation_button_right:hover{
    opacity: 100%;
    box-shadow: -200px 0px 100px -150px rgba(32,32,32,1) inset;
    transition: all 0.3s;
    transition: box-shadow 0.8s;
}
.render_post .navigation_button_left:hover{
    opacity: 100%;
    box-shadow: 200px 0px 100px -150px rgba(32,32,32,1) inset;
    transition: all 0.3s;
    transition: box-shadow 0.8s;
}

.render_post .nav_inner_button{
    height:100%;
    background-repeat: no-repeat;
    background-position: left center;
}

.post_feed_box {
    height: 100%;
    margin:0px; 
}

.post_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    //justify-items: ;
    text-decoration: none;
    margin:0px;
}

.post_grid_item {
    flex: 0 1 calc(20% - 10px);
    /*margin-bottom: 25px;
    /*margin-right: 1px;*/
    margin:5px;
    background-color: #222222;
    border-radius: 10px;
    -moz-box-shadow: 0px 0px 5px -2px black;
    -webkit-box-shadow: 0px 0px 5px -2px black;
    box-shadow: 0px 0px 5px -2px black;
    transition: all 1s ;
    min-width: 0
}

.post_grid_item .thumbnail {
    border-radius: 5px;
}

.post_grid_item:hover {
    background-color:#292929;
    transition: all .1s ;
    box-shadow: 5px 5px 10px -2px black;
}

.post_grid_item .title {
    /*font-family: monospace;*/
    font-size: 20pt;
    text-align: right;
    color: darkgray;
    text-decoration: none;
    margin-right: 1px;
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.post_grid_item .desc {
    /*font-family: monospace;*/
    font-size: 14pt;
    color: dimgray;
    text-align: right;
    text-decoration: none;
    margin-right: 1px;
    overflow: hidden;
    white-space: nowrap;
    //display:block;
}

.post_grid_item .song_desc{
    display: inline-block;
    position: relative;
    text-overflow: ellipsis;
    text-align: right;
    overflow: hidden;
    text-wrap: nowrap;
    flex: 1 1 auto;
}

.post_grid_item .song_desc_wrap{
    display: flex;
    align-items: center;
    max-width: inherit;
    margin-top: 4px;
    padding-top: 4px;
    border-top: 1px solid #1f1f1f;
}

.post_grid_item .spoti_small_icon{
    margin-left: px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post_grid_item .spoti_small_icon img{
    /*font-family: monospace;*/
    width: 28px;
    height: 28px;
}


.post_grid_item .thumbnail {
    width: 100%;
    height: auto;
}

.post_grid_item a {
    padding: 10px;
    text-decoration: none;
    display: block;
    height:100%;
    width: 100%;
}

@media screen and (max-width: 1550px)  and (min-height: 640px) {
    .post_grid_item {
        flex: 0 1 calc(33% - 10px);
    }
}

@media screen and (max-width: 1100px) and (min-height: 960px) {
    .post_grid_item {
        flex: 0 1 calc(50% - 10px);
    }
}

@media screen and (max-width: 512px) {
    .post_grid_item {
        flex: 0 1 calc(100%);
    }
}

@media (any-pointer: fine) {
    .render_post {
        //min-height: calc(100vh - 80px);
        //flex-direction: column;
    }
    .render_post .image_box{
        max-height: calc(100vh - 75px);
    }
    .render_post .song_button .song_info{
        font-size: 16px;
    }
    .post_grid_item .title {
        /*font-family: monospace;*/
        font-size: 12pt;
    }
    .post_grid_item .desc {
        /*font-family: monospace;*/
        font-size: 8.5pt;
    }
    .post_grid_item .spoti_small_icon{
        margin-left: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .post_grid_item .spoti_small_icon img{
        /*font-family: monospace;*/
        width: 14px;
        height: 14px;
    }
}