---
---
@import "main";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
    background-color: #111111;
    color:#AAAAAA;
    font-family: "IBM Plex Mono";
    margin:0px;
}


.render_post{
    //width: calc(80vw);
    margin: auto;
    flex: auto;
    background: #282828;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: stretch;
    flex-direction: row;
    //max-height: calc(100vh);
    min-height: calc(100vh - 75px);

    overflow: hidden;
}

.render_post .image_main {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin:auto;
}

@media screen and (max-width: 1100px) {
    .render_post {
        //flex-direction: column;
    }
}

.render_post .spotisong_iframe{
    // float: right;
    // box-shadow: 2px 2px 5px 0px black;
    width:100%;
    overflow: hidden;
}


.render_post .title {
    width: 100%;
    text-align: right;
    font-size: 36pt;
}

.render_post .date {
    width: 100%;
    text-align: right;
    font-size: 24pt;
    color:#888888;
}

.render_post .info_box{
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    flex: 1000 10 calc(365px);
}

.render_post .info_box_main{
    margin: 0px 0px 0px 0px;
    flex: 1 0 45%;
    padding: 20px 20px 20px 20px;
    //border-bottom: 1px solid #222222;
    
}

.render_post .info_box_song{
    flex: 1 0 auto;
    padding:20px;
    width:fit-content;
    overflow: hidden;
    padding: 20px 0px 20px 0px;
    //border-bottom: 1px solid #222222;
    border-top: 1px solid #222222;
    text-align: right;
}

.render_post .image_box{
    
    background-color: rgba(0,0,0,1);
    display: flex;
    flex: 1 1 calc(100vh - 75px);


    //max-width: calc(100vh - 128px);
    //min-height: calc(100vh - 75px);
    max-height: calc(100vh - 75px);
//    overflow: hidden;

    background-size: contain;
    background-repeat:   no-repeat;
    background-position: center center; 
    //aspect-ratio: auto 1 / 2;
    //min-width: 60%;
}

.render_post .image_box .image_box_inner{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(100px);

    justify-content: center;
    display: flex;
    overflow: hidden;
}

.render_post .navigation_button {
    text-decoration: none;
    color: #AAAAAA;
    font-size: 46px;
    height:100%;
}

.render_post .navigation_box {
    justify-content: space-between;
    align-content: right;
    display: flex;
    flex-direction: row-reverse;
}

.post_feed_box {
    height: 100%;
    margin:0px; 
}

.post_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    //justify-items: ;
    text-decoration: none;
    margin:0px;
}

.post_grid_item {
    flex: 0 1 calc(20% - 10px);
    /*margin-bottom: 25px;
    /*margin-right: 1px;*/
    margin:5px;
    background-color: #222222;
    border-radius: 10px;
    -moz-box-shadow: 1px 1px 5px 0px black; 
    -webkit-box-shadow: 1px 1px 5px 0px black; 
    box-shadow: 1px 1px 5px 0px black;

    transition: all 1s ;
}

.post_grid_item img {
    border-radius: 5px;

}

.post_grid_item:hover {
    background-color:#292929;
    transition: all .01s ;
    box-shadow: 0px 0px 10px 1px black;
}

.post_grid_item .title {
    /*font-family: monospace;*/
    font-size: 12pt;
    text-align: right;
    color: darkgray;
    text-decoration: none;
    margin-right: 1px;
    display:block;
}

.post_grid_item .desc {
    /*font-family: monospace;*/
    font-size: 8.5pt;
    text-align: right;
    color: dimgray;
    text-decoration: none;
    margin-right: 1px;
    display:block;
}

.post_grid_item img {
    width: 100%;
    height: auto;
}

.post_grid_item a {
    padding: 10px;
    text-decoration: none;
    display: block;
    height:100%;
}

@media screen and (max-width: 1550px) {
    .post_grid_item {
        flex: 0 1 calc(33% - 7px);
    }
}

@media screen and (max-width: 1100px) {
    .post_grid_item {
        flex: 0 1 calc(50% - 10px);
    }
}

@media screen and (max-width: 512px) {
    .post_grid_item {
        flex: 0 1 calc(100%);
    }
}
